body {
  /* avoid scroll */
  overflow: hidden;
}

#root {
  /* allow the window to be dragged from that element including children */
  app-region: drag;
}

.example {
  border-radius: 10px;
  border-style: solid;
  border-width: 3px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
