* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white; /* we can set any color, or transparency */
}

.example {
  width: 100vw;
  height: 100vh;
}
